body
{
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	/*background-color: #FFFFFF;*/
	background-color: #242424;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top center;
	font-size: 10px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	overflow-: hidden;

}

html{
	overflow: hidden;
}

#bgimage img {
	width: auto;
    min-width: 1280px;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
 
}



#inhalt{
	color: #FFFFFF;
    display: block;
    position: relative;
    top: 10px;
	width: auto;
	margin: auto auto;
    zindex: 10;
	font-size: 18px;
	font-family: Arial, Verdana, sans-serif;
	/*text-shadow: #FFFFFF 1px 1px 1px;*/
	
	
}
.ticker{
	position: fixed;
	width: 100%;
	margin: auto auto;

	filter:alpha(opacity=85); opacity: 0.85; -moz-opacity:0.85;
	color: #FFFFFF;

	background-color: #da1f1a;
	left: 0px;
	bottom: 10px;
	font-size: 30px;
display: none;
	
}

.wochentag_spalte{
	position: relative;
	width: 16.5%;
	/*border: 1px solid green;*/
	float:left;
	
	
	text-shadow: none !important;
	filter:alpha(opacity=95); opacity: 0.95; -moz-opacity:0.95;
	
	
}

.wochentag_spalte table{
font-size: 12px !important;
	
}

#fitgym{
	position: fixed;
	left: 20px;
	bottom: 50px;
	width: 10%;

}

#etv_studio{
	position: fixed;
	right: 30px;
	bottom: 50px;

}

.exklusivkurs{
	color: #FFFFFF;
	position: relative;
	float: right;
	width: 10px;
	margin-top: -3px;
	margin-right: 2px;
}