.titel{
	background-color: #8f1117;
	color: #FFFFFF;
	font-size: 10px;

}
 td{
  vertical-align: top;
  
 }

 .header_spacer{
	 height: 0px;
 }

.ueberschrift {
	color: #8f1117; 
	font-family: arial;  
	font-weight: normal;
    margin-left: 0px;
}

.wochentag{

	height: 15px; 
	/*background-color: #8f1117; */
	font-family: arial; 
	font-weight: bold; 
	font-size: 16px;
	color: mintcream;
	/*text-shadow: #FFFFFF 1px 1px 1px;*/
	padding: 10px;
}

.kurs{
	padding: 3px;
	color: #555555;
	filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8;
}

.kurszelle{

}

.zeit{
	font-weight: bold;
	font-family: arial;
	font-size: 10px;
	color: lightgrey !important;
    width: 50%;
	/*border: 1px solid red;*/
	margin: auto auto;
}

.kursname{
	font-weight: bolder;
	color: lightgrey;
	font-size: 10px;
	/*border: 1px solid blue;*/
}

.sportstaette{
	/*color: #c21d28 !important;*/
	color: #b61f2a !important;

	font-size: 10px;
	font-weight: bold;


}
.sportstaette span{
	background-color:  #FFFFFF;
	padding-left: 1px;
	padding-right: 1px;
}


.trainer{
	display: none;
}




.ecke{
	position: absolute;
	left: 0;
	bottom: 0;
	color: #000000 !important;
}

.schwerpunkt{
	position: absolute;

	color: white;

	width: 10px;
	height: 10px;
}

.kasten{
	position: relative;

	color: white;
	width: 20px;
	height: 20px;
	float: left;

}

/* SCHRIFTEN */

@font-face {
    font-family: 'bauhaus';
    src: url('bauhs93.eot');
    src: url('bauhs93.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}